tensorflow
numpy
soundfile 
sounddevice 
torch 
torchaudio
sentencepiece
transformers 
tensorflow
tensorflow-cpu
tensorflow-gpu
huggingface_hub
mysql-connector-python 
bcrypt
Flask 
Flask-RESTful     
werkzeug
flask-restx
requests
demucs
crepe
librosa  
streamlit
typer
